# CMake
/*-prefix
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
_CPack_Packages/
cmake_install.cmake
/inst/

# CMake - Debian
*.deb

# IDEs
.idea
*.pyc
*kdev*
*.lprof
*~
*.qm
.DS_Store
.project

# Build/run side effects
__pycache__
docs/html
*.log
build
*.mo
resources/i18n/en
resources/i18n/x-test
